.square {
  border: solid black 1px;
}

.c {
  cursor: crosshair;
}

.clicked {
  background-color: blue;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

body {
  display: flex;
  gap: 20px;
}

.placed {
  background-color: aqua;
}

.hit {
  background-color: red;
}