.square {
  border: solid #62CDFF 1px;
  transition: background-color 0.5s ease;
}

.c {
  cursor: crosshair;
}

.clicked {
  background-color: #4f4c75;
}

.gameboard {
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(4, 4, 189, 0.903) 100% );
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  border: #214455 5px solid;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(83, 201, 236);
  background-image: url("images/seaBG.jpg");
  background-repeat: repeat;
  background-size: 400px;
}

.gameboards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.placed {
  background-color: rgba(22, 178, 165, 0.837);
}

.hit {
  background-color: #EB4747;
}

h1 {
  background-color: rgba(0, 0, 0, 0.529);
  color: white;
  padding: 5px;
}
h2 {
  background-color: rgba(0, 0, 0, 0.529);
  color: white;
  padding: 5px;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.axis-container {
  background-color: rgba(0, 0, 0, 0.529);
  padding: 5px;
}

label {
  color: white;
  padding: 5px;
}

button {
  background-color: #214455;
  color:white;
}

button:hover {
  color: black;
  background-color: #62CDFF;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .gameboard {
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
  }
}