.square {
  border: solid #62CDFF 1px;
  transition: background-color 0.5s ease;
}

.c {
  cursor: crosshair;
}

.clicked {
  background-color: blue;
}

.gameboard {
  background-color: rgba(45, 38, 75, 0.551);
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(83, 201, 236);
  background-image: url("images/seaBG.jpg");
  background-repeat: repeat;
  background-size: 400px;
}

.placed {
  background-color: rgba(22, 178, 165, 0.837);
}

.hit {
  background-color: rgb(160, 104, 255);
}